@font-face {
    font-family: 'pf_beausans_prolight';
    src: url('fonts/pfbeausanspro-light-webfont.eot');
    src: url('fonts/pfbeausanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/pfbeausanspro-light-webfont.woff') format('woff'),
         url('fonts/pfbeausanspro-light-webfont.ttf') format('truetype'),
         url('fonts/pfbeausanspro-light-webfont.svg#pf_beausans_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pf_beausans_proregular';
    src: url('fonts/pfbeausanspro-reg-webfont.eot');
    src: url('fonts/pfbeausanspro-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/pfbeausanspro-reg-webfont.woff') format('woff'),
         url('fonts/pfbeausanspro-reg-webfont.ttf') format('truetype'),
         url('fonts/pfbeausanspro-reg-webfont.svg#pf_beausans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pf_beausans_prosemibold';
    src: url('fonts/pfbeausanspro-sebold-webfont.eot');
    src: url('fonts/pfbeausanspro-sebold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/pfbeausanspro-sebold-webfont.woff') format('woff'),
         url('fonts/pfbeausanspro-sebold-webfont.ttf') format('truetype'),
         url('fonts/pfbeausanspro-sebold-webfont.svg#pf_beausans_prosemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pf_beausans_prothin';
    src: url('fonts/pfbeausanspro-thin-webfont.eot');
    src: url('fonts/pfbeausanspro-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/pfbeausanspro-thin-webfont.woff') format('woff'),
         url('fonts/pfbeausanspro-thin-webfont.ttf') format('truetype'),
         url('fonts/pfbeausanspro-thin-webfont.svg#pf_beausans_prothin') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* Reset */
* {
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
}
.bg_wrapper {
	min-height: 100%;

}
img {
	border: 0;
}
table {
	border-collapse: collapse;
}
ul {
	list-style: none;
}
:focus {
	outline: 0;
}
p {
	padding-bottom: 10px;
}
a {
	text-decoration: none;
	color: #424450;
}
.inp {
	border: 1px solid #b9bbc4;
	background: #ffffff;
	border-radius: 4px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 28px;
	padding: 0 10px;
	font-size: 12px;
	color: #000000;
	width: 100%;
}
.area {
	border: 1px solid #b9bbc4;
	background: #ffffff;
	border-radius: 4px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px 16px;
	font-size: 12px;
	color: #000000;
	height: 117px;
	width: 100%;
	resize: vertical;
}
a:hover {
	text-decoration: underline;
}
body {
	color: #424450;
	font: 14px pf_beausans_proregular, Arial, sans-serif;
	min-width: 980px;
}
h1 {
	font: 36px pf_beausans_prolight, Arial, sans-serif;
	font-weight: normal;
	margin-bottom: 22px;
}
h3 {
	font: 22px pf_beausans_proregular, Arial, sans-serif;
}
h4 {
	font: 18px pf_beausans_prosemibold, Arial, sans-serif;
	margin-bottom: 13px;
}
h5 {
	font: 24px pf_beausans_prolight, Arial, sans-serif;
	margin-bottom: 25px;
}
.container:after,
.column_layout:after,
.additional_search:after,
.btn_block:after,
.hd:after,
.choice_block:after,
.in_total:after,
.field:after,
.main_search:after,
.bad_page .browsewrs_list:after,
.content_item:after {
	content: "";
	clear: both;
	display: block;
}
.bg_wrapper {
	background: #4bb179;
}
.container {
	position: relative;
	width: 980px;
	margin: 0 auto;
}
.column_layout .column1,
.column_layout .column2 {
	float: left;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.column_layout .column1 {
	width: 60%;
}
.column_layout .column2 {
	width: 40%;
}
.tbl_layout {
	display: table;
	width: 100%;
	table-layout: fixed;
}
.tbl_layout .l_column,
.tbl_layout .r_column {
	display: table-cell;
	padding: 32px;
	vertical-align: top;
}
.tbl_layout .l_column {
	width: 60%;
}
.tbl_layout .r_column {
	width: 40%;
	border-left: 1px solid #ebebeb;
}
/* header */
.header {
	background: #4bb179;
	height: 70px;
	color: #ffffff;
}
.header .logo {
	position: absolute;
	display: block;
	top: 1px;
	left: 0;
	background: url("../images/head_logo.png") no-repeat;
	width: 204px;
	height: 70px;
}
.header .slogan {
	position: absolute;
	display: block;
	top: 31px;
	left: 220px;
}
.header .head_phone {
	float: right;
	padding: 16px 29px 0 34px;
	font: 26px pf_beausans_prothin, arial, sans-serif;
	background: url("../images/icons_sprite.png") no-repeat -359px 17px;
}
.header .contact_us {
	background: #58B782;
	border-left: 1px solid #81C9A1;
	border-right: 1px solid #81C9A1;
	cursor: pointer;
	float: right;
	height: 70px;
	line-height: 70px;
	padding: 0 26px 0 64px;
	position: relative;
	text-transform: uppercase;
}
.header .contact_us:after {
	position: absolute;
	top: 50%;
	left: 26px;
	width: 27px;
	height: 22px;
	margin-top: -11px;
	background: url("../images/icons_sprite.png") no-repeat 0 -2px;
	content: "";
	display: block;
}
/* /header */

/* content */
.content {
	padding-top: 60px;
	padding-bottom: 69px;
	background-color: #f9f9f9;
}
.content_item {
	border: 1px solid #ebebeb;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background: #ffffff;
	margin-bottom: 50px;
}
.content_item p {
	line-height: 22px;
}
.content_item .text_block {
	padding: 26px;
}
.info_block {
	position: relative;
	margin-bottom: 20px;
	padding-right: 171px;
	background: url("../images/big_logo.png") no-repeat top right;
}
.info_block.type2 {
	margin-bottom: 32px;
}
.info_block.type2 .text_block {
	background: url("../images/info_block_bg.png") no-repeat 37px 42px #ffffff;
}
.info_block .text_block {
	position: relative;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	padding: 22px 26px 14px 136px;
	min-height: 116px;
	background: url("../images/big_arrow.png") no-repeat 37px 42px #ffffff;
	border: 1px solid #f7b35c;
}
.info_block .text_block:after {
	position: absolute;
	bottom: 22px;
	right: -21px;
	content: "";
	display: block;
	background: url("../images/info_block_arrow.png") no-repeat;
	width: 21px;
	height: 23px;
}
.info_block .text_block h3 {
	font: 30px pf_beausans_prothin, Arial, sans-serif;
	margin-bottom: 10px;
	font-weight: normal;
}
.info_block .text_block p {
	font: 14px/22px pf_beausans_prolight, Arial, sans-serif;
}
.tbl_layout .r_column.question_list {
	padding-left: 37px;
}
.question_list .link_list li {
	margin-bottom: 15px;
}
.question_list .link_list a {
	color: #4bb179;
}
.question_list .link_list .last {
	padding-top: 15px;
}
.question_list .link_list .last a {
	font-family: pf_beausans_prosemibold, aria, sans-serif;
}
/* /content */

/* Main Search */
.main_search {
	position: relative;
	border: 1px solid #b7b9c3;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background: #ffffff;
	padding: 0 53px 0 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.mail_input,
.pas_input,
.from_input,
.in_input,
.date_input {
	border: none;
	background: url("../images/search_sprite.png") no-repeat #ffffff;
	height: 48px;
	padding-left: 74px;
	padding-right: 16px;
	font-size: 14px;
	text-transform: uppercase;
	/*border-right: 1px solid #ebebeb;*/
	width: 340px;
	/*margin-right: 1%;*/
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: relative;
	border-radius: 4px;
}
.from_input.ui-autocomplete-loading {
	background: url("../images/field-loader.gif") 96% center no-repeat, url("../images/search_sprite.png") no-repeat #ffffff 12px -5px;
}
.in_input.ui-autocomplete-loading {
	background: url("../images/field-loader.gif") 96% center no-repeat, url("../images/search_sprite.png") no-repeat #ffffff 13px -64px;
}
.wrap_inp {
	background: url("../images/inp_divider.gif") no-repeat right 4px;
	float: left;
	padding-right: 1px;
}
.from_input {
	background-position: 12px -5px;
}
.in_input {
	background-position: 13px -64px;
}
.date_input {
	float: right;
	padding-left: 49px;
	width: 228px;
	background-position: -7px -124px;
}
.submit_btn {
	position: absolute;
	top: -1px;
	right: -1px;
	display: block;
	background: url("../images/search_sprite.png") no-repeat #f2854c 6px -246px;
	width: 55px;
	height: 50px;
	border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
}
.submit_btn:hover {
	opacity: 0.9;
}
/* advanced_search*/
.advanced_search {
	margin-bottom: 15px;
	padding: 15px 0 0 21px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.advanced_search.open {
	background: #f2f2f3;
}
.advanced_search .link {
	color: #4bb179;
	cursor: pointer;
	display: inline-block;
	background: url("../images/search_sprite.png") no-repeat right -647px;
	padding-right: 23px;
}
.advanced_search .link_open {
	color: #4bb179;
	cursor: pointer;
	display: none;
	/*display: inline-block;*/
	background: url("../images/search_sprite.png") no-repeat right -691px;
	padding-right: 23px;
}
.additional_search {
	padding-top: 17px;
	padding-bottom: 21px;
	display: none;
}
.switch_links_block {
	display: inline-block;
}
/* ui-datepicker style */
.ui-datepicker.ui-datepicker-multi-2 {
	padding-top: 51px;
	padding-bottom: 11px;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	/*margin-left: -17px;*/
	/*margin-top: 0;*/
	margin-left: -1px;
	margin-top: 0;
	border: 1px solid #b7b9c3;
}
.ui-datepicker.ui-datepicker-multi-2:before {
	content: "";
	position: absolute;
	display: block;
	background: url("../images/datepicker_arrow.png") no-repeat;
	width: 20px;
	height: 11px;
	top: -11px;
	left: 100px;
}
.ui-datepicker .ui-datepicker-buttonpane {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: transparent;
	margin: 0 5px;
	border: none;
	border-bottom: 1px solid #ebebeb;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current:first-child {
	display: none;
}
.ui-datepicker-close {
	display: none;
}
.ui-datepicker {
	background: #ffffff;
}
.ui-datepicker .ui-datepicker-header {
	background: #ffffff;
	color: #000000;
	border: none;
	margin-bottom: 10px;
}
.ui-datepicker .ui-datepicker-title {
	font-size: 18px;
	font-weight: normal;
	line-height: 18px;
}
.ui-datepicker-header .ui-icon {
	background-image: url("../images/search_sprite.png");
	background-repeat: no-repeat;
}
.ui-datepicker .ui-icon-circle-triangle-w {
	background-position: -17px -367px;
}
.ui-datepicker .ui-icon-circle-triangle-e {
	background-position: -17px -396px;
}
.ui-datepicker .ui-state-hover {
	border: none;
	background: transparent;
}
.ui-datepicker .ui-datepicker-prev {
	top: -1px;
	left: 0;
}
.ui-datepicker .ui-datepicker-next {
	top: -1px;
	right: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
	border: none;
	background: transparent;
	color: #4bb179;
	text-transform: uppercase;
	font-size: 14px;
}
.ui-datepicker th {
	text-transform: uppercase;
	font-weight: normal;
	font-size: 12px;
}
.ui-datepicker td {
	border: 0 none;
}
.ui-datepicker .ui-state-default {
	background: transparent;
	border: none;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	padding: 8px;
}
.ui-datepicker .ui-state-default.ui-state-active {
	background: url("../images/search_sprite.png") no-repeat -5px -314px;
}
/* /ui-datepicker style */

.additional_block,
.choice_block {
	float: left;
	margin-right: 20px;
}
.choice_block .ui-button-text {
	padding: 15px 21px;
	font-size: 14px;
	font-weight: normal;
	color: #424450;
	text-transform: uppercase;
}
.choice_block .ui-button {
	border: 1px solid #b7b9c3;
	/*border: 1px solid #b7b9c3;*/
	background: #ffffff;
	float: left;
}
.choice_block .ui-button.ui-state-active {
	background: #4bb179;
	color: #ffffff;
	border: 1px solid #4bb179;
}
.choice_block .ui-button.ui-state-active.ui-state-hover {
	background: #4bb179;
	border: 1px solid #4bb179;
}
.choice_block .ui-button.ui-state-active .ui-button-text {
	color: #ffffff;
}
.choice_block .ui-button.ui-state-hover {
	background: #ffffff;
	border-color: #b7b9c3;
}
.additional_block {
	position: relative;
	border: 1px solid #b7b9c3;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background: #ffffff;
	padding: 6px 0 2px 16px;
	width: 405px;
}
.additional_block .date_input {
	width: 210px;
	float: left;
	height: 40px;
	padding-left: 45px;
	background-position: -7px -129px;
}
.additional_block .time {
	width: 180px;
}
.additional_block .departure_time {
	width: 195px;
	float: left;
	border-left: 1px solid #ebebeb;
}
.departure_time {
	border: none;
}
.additional_block .select2-container .select2-choice {
	background: url("../images/search_sprite.png") no-repeat 1px -193px;
	border: none;
	padding-left: 50px;
	border: none;
	border-radius: 0;
	height: 36px;
	line-height: 36px;
}
.select2-container {
	vertical-align: top;
}
.select2-container .select2-choice {
	border: none;
	height: 38px;
	line-height: 38px;
	background: #ffffff;
	border: 1px solid #b7b9c3;
}
.select2-container.select2-drop-above .select2-choice {
	background: transparent;
}
.select2-search {
	display: none;
}
.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.select2-container .select2-choice .select2-arrow {
	background: transparent;
	width: 25px;
	border-left: none;
}
.select2-container .select2-choice .select2-arrow b {
	background: url("../images/search_sprite.png") no-repeat -20px -444px;
}
.select2-container .select2-choice > .select2-chosen {
	margin-right: 43px;
}
.select2-drop {
	margin-top: -1px;
	border: 1px solid #b7b9c3;
	border-radius: 4px;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.select2-results {
	max-height: 300px;
	padding: 0;
	margin: 0;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.select2-results li {
	/*padding: 5px 0;*/
	border-top: 1px solid #cccccc;
}
.select2-results li:first-child {
	border: none;
}
.select2-results .select2-result-label {
	padding: 9px 7px 8px;
}
.departure_time.select2-drop {
	margin-top: -79px;
}
.departure_time.select2-drop .select2-results {
	min-height: 589px;
	margin: 0 4px;
}
.departure_time.select2-drop.select2-drop-above {
	margin-top: 1px;
}
.departure_time .select2-results .select2-result-label {
	padding: 9px 4px 8px 46px;
}
.departure_time.select2-drop .select2-results li:nth-child(2) {
	padding: 6px 0 7px;
	background: url("../images/search_sprite.png") no-repeat 145px -438px, url("../images/search_sprite.png") no-repeat -3px -187px;
}
.select2-results .select2-highlighted {
	background-color: #4bb179;
}
.departure_time.select2-drop .select2-results li.select2-highlighted:nth-child(2) {
	background: url("../images/search_sprite.png") no-repeat 145px -495px, url("../images/search_sprite.png") no-repeat -4px -576px #4bb179;
}

/* ui Autocomplete */
.ui-autocomplete.ui-widget-content.ui-menu {
	background: #ffffff;
	border: 1px solid #b7b9c3;
}
.ui-autocomplete.ui-widget-content .ui-menu-item {
	border-top: 1px solid #cccccc;
	
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}
.ui-autocomplete.ui-widget-content .ui-menu-item  a{
	padding: 5px 20px;
	border-radius: 0;
}

.ui-autocomplete.ui-widget-content .ui-menu-item:first-child {border: none;}

.ui-autocomplete.ui-widget-content .ui-state-hover,
.ui-autocomplete.ui-widget-content .ui-state-focus {
	border: none;
	background: #4bb179;
	font-weight: normal;
	color: #ffffff;
}
.ui-autocomplete.ui-widget-content .ui-menu-item a.ui-state-focus,
.ui-autocomplete.ui-widget-content .ui-menu-item a.ui-state-active {
	font-weight: normal;
	margin: 0;
}
/* /ui Autocomplete */

/* /Main Search */

/* ticket page */
.sidebar {
	border-bottom: 1px solid #d8d9de;
	background: #f9f9f9;
	padding: 20px 0 0;
	z-index: 100;
	width: 100%;
	background: #fcfcfc;
}
.sidebar.stuck {
	position: fixed;
	top: 0;
}
.inner_page.content {
	position: relative;
	padding-top: 0;
}
.inner_page .main_search, .inner_page .advanced_search {
    min-width: 825px;
    display: table;
}
.inner_page .advanced_search {
	padding-top: 7px;
}
.inner_page .switch_links_block {
	width: 142px;
	position: absolute;
	top: 12px;
	right: 0;
	text-align: right;
	font-size: 12px;
}
.inner_page .submit_btn {
	width: 45px;
	height: 40px;
	background-position: 3px -251px;
}
.inner_page .wrap_inp {
	background: url("../images/inp_divider_inner.gif") no-repeat right 4px;
}
.inner_page .from_input,
.inner_page .in_input,
.inner_page .date_input {
	height: 38px;
	font-size: 12px;
	padding-left: 58px;
}
.inner_page .from_input.ui-autocomplete-loading {
	background: url("../images/field-loader.gif") 96% center no-repeat, url("../images/search_sprite.png") no-repeat #ffffff 3px -778px;
}
.inner_page .in_input.ui-autocomplete-loading {
	background: url("../images/field-loader.gif") 96% center no-repeat, url("../images/search_sprite.png") no-repeat #ffffff 5px -833px;
}
.inner_page .from_input {
	width: 277px;
	background-position: 3px -778px;
}
.inner_page .in_input {
	background-position: 5px -833px;
	width: 287px;
}
.inner_page .date_input {
	width: 204px;
	background-position: -3px -890px;
}
.inner_page .choice_block {
	margin-right: 0;
}
.inner_page .choice_block .ui-button-text {
	padding: 11px 21px;
}
.inner_page .additional_block {
	width: 396px;
	float: right;
	padding: 0;
}
.inner_page .additional_block .date_input {
	width: 50%;
	height: 40px;
	background-position: -3px -889px;
}
.inner_page .additional_block .departure_time {
	float: right;
	margin-top: 6px;
}
.inner_page .additional_block .select2-container .select2-choice {
	background-position: 1px -197px;
	height: 28px;
	line-height: 29px;
}
.inner_page .additional_block .select2-container .select2-choice .select2-arrow b {
	background-position: -20px -449px;
}
.departure_time.inner_control.select2-drop {
	margin-top: -69px;
}
.departure_time.inner_control.select2-drop .select2-results li:nth-child(2) {
	padding: 7px 0;
	background: url("../images/search_sprite.png") no-repeat 145px -444px, url("../images/search_sprite.png") no-repeat -3px -192px;
}
.departure_time.inner_control.select2-drop .select2-results li.select2-highlighted:nth-child(2) {
	background: url("../images/search_sprite.png") no-repeat 145px -500px, url("../images/search_sprite.png") no-repeat -4px -580px #4bb179;
	padding: 7px 0;
}
.departure_time.inner_control.sub_control.select2-drop {
	margin-top: -69px;
}
.departure_time.inner_control.sub_control.select2-drop .select2-results li:nth-child(2),
.departure_time.inner_control.sub_control.select2-drop .select2-results li.select2-highlighted:nth-child(2) {
	padding: 2px 0;
}

/* sort block in left column */
.sort_block h4 {
	position: relative;
}
.sort_block .filterOptionOnly {
	display: none;
	font-size: 12px;
	color: #4bb179;
	position: absolute;
	right: 28px;
	top: 9px;
}
.sort_block .show_all {
	font-size: 12px;
	color: #4bb179;
	position: absolute;
	right: 0;
	top: 5px;
	cursor: pointer;
}
.sort_block .show_all:hover {
	text-decoration: underline;
}
.sort_block .field {
	padding: 8px 7px 5px;
}
.sort_block .field:hover {
	background: #e9f2ed;
}
.sort_block .field:hover .filterOptionOnly {
	display: block;
}
.sort_block .choice_tbl_field {
	/*margin-bottom: 32px;*/
}
.sort_block .choice_tbl_field td {
	padding: 0 8px 0 9px;
}
.sort_block label {
	font-size: 12px;
}
.sort_block p > label {
	padding: 2px 0 2px 28px;
}
/* right column */
.ticket_block {
	/*border-top: 1px solid #d8d9de;*/
}
.ticket_block .tbl_layout .l_column {
	width: 217px;
	padding: 32px 22px 27px 0;
}
.ticket_block .tbl_layout .r_column {
	width: 739px;
	border: 1px solid #b9bbc4;
	border-top: none;
	border-bottom: none;
	padding: 0;
	background: #ffffff;
}
.ticket_block .hd {
	padding: 27px 19px 10px 20px;
	border-top: 1px solid #b9bbc4;
	margin-top: -1px;
	margin-bottom: -1px;
	border-bottom: 1px solid #dbdce1;
}
.ticket_block .hd h1 {
	color: #a1a1a1;
	width: 393px;
	float: left;
	line-height: 29px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font: 18px pf_beausans_prolight, Arial, sans-serif;
        width:50%;
}
.ticket_block .title {
	color: #424450;
	font: 36px/29px pf_beausans_prolight, Arial, sans-serif;
	margin-right: 9px;
}
.ticket_block .hd .sort_select {
	width: 50%;
        text-align: right;
	float: right;
}
.ticket_block .sort_select .label {
	padding-top: 10px;
	display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
}
.ticket_block h3 {
	margin-bottom: 15px;
}
.ticket_block .search_result .result_item {
	border-bottom: 1px solid #dbdce1;
}
.ticket_block .price_sort {
	width: 230px;
	text-align: left;
}
.result_item {
	position: relative;
}
.result_item .info_element .lbl {
	font-size: 12px;
	text-transform: uppercase;
	color: #7f7f7f;
	display: inline-block;
	margin-bottom: 3px;
}
.result_item .info_element .price {
	font: 24px helvetica, Arial, sans-serif;
	color: #000000;
}
.result_item .info_element .info_txt {
	color: #000000;
	font: 18px pf_beausans_prolight, Arial, sans-serif;
}
.ticket_block .search_result .result_item.open {
	border-top: 1px solid #f2854c;
	border-bottom: 3px solid #f2854c;
	margin-bottom: -1px;
}
.result_item.open {
	background: url("../images/item_active_bg.png") no-repeat;
}
.result_item.hide_view .overlay {
	display: block;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #ffffff;
	opacity: .8;
	filter: Alpha(Opacity=80);
	display: none;
}
.ui-widget-overlay {
	background: #ffffff;
	opacity: .6;
	filter: Alpha(Opacity=60);
}
.general_info {
	display: table;
	width: 100%;
	padding: 10px 0;
	box-sizing: border-box;
}
.general_info .col {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding: 10px 20px;
	border-left: 1px dashed #e1e1e1;
}
.general_info .col:first-child {
	border: none;
}
.general_info .col_1,
.general_info .col_2 {
	text-align: left;
	width: 50%;
}
.general_info .col_1 .info_element {
	margin-right: 0;
	width: 116px;
	float: left;
	margin-bottom: 17px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.general_info .col_1 .info_element .info_txt {
	width: 116px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.general_info .col_1 .type_number {
	margin-right: 6px;
	width: 108px;
}
.general_info .col_1 .type_number .lbl,
.general_info .col_1 .train_number .lbl {
	margin-bottom: 7px;
}
.general_info .col_1 .type_number .info_txt {
	width: 108px;
}
.general_info .col_1 .train_number {
	margin-right: 0;
	width: 66px;
	float: right;
	padding-left: 7px;
	padding-right: 10px;
	text-align: right;
	border-left: 1px dashed #e1e1e1;
}
.general_info .col_1 .train_number .info_txt {
	width: 66px;
	font-size: 18px;
	color: #4bb179;
}
.general_info .col_1 .train_number .info_txt a {
	color: #4bb179;
}
.general_info .col_1 .btn_block {
	width: 100%;
	float: left;
}
.general_info .col.trip_name {
	padding-bottom: 0;
}
.general_info .trip_name .column_layout {
	padding: 12px 0 8px 0;
}
.general_info .trip_name .column_layout .column1 {
	border-right: 1px dashed #e1e1e1;
}
.general_info .trip_name .column_layout .column1,
.general_info .trip_name .column_layout .column2 {
	width: 50%;
	text-align: center;
}
.general_info .trip_name .info_element {
	display: inline-block;
	text-align: left;
}
.general_info .col_2 .trip_title {
	text-align: left;
	font-size: 16px;
	padding: 0 0 23px 30px;
	border-bottom: 1px dashed #e1e1e1;
}
.general_info .trip_title b {
	font-size: 18px;
}
.btn {
	position: relative;
	background: #f2854c;
	text-decoration: none;
	font: 14px pf_beausans_prosemibold, Arial, sans-serif;
	color: #ffffff !important;
	padding: 10px 17px;
	border-radius: 3px;
	cursor: pointer;
	border: none;
	display: inline-block;
}
.btn:hover {
	opacity: 0.9;
	text-decoration: none;
}
.load_btn {
	background: #b7bac3;
	color: #b7bac3 !important;
}
.load_btn:before {
	content: "";
	display: block;
	width: 45px;
	height: 6px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -22px;
	margin-top: -3px;
	background: url("../images/load_icon.gif") no-repeat center center; 
}
.confirm_btn {
	background: #4bb179;
}
.cancel_btn {
	position: relative;
	display: inline-block;
	color: #333333;
	padding-left: 23px;
	font: 16px pf_beausans_prolight, Arial, sans-serif;
	color: #a2a4ad;
}
.cancel_btn:before {
	position: absolute;
	background: url("../images/icons_sprite.png") no-repeat -126px -5px;
	top: 2px;
	left: 0;
	width: 15px;
	height: 15px;
	content: "";
}
.info_icon {
	display: inline-block;
	background: url("../images/icons_sprite.png") no-repeat -226px -5px;
	width: 15px;
	height: 15px;
	cursor: pointer;
}
.general_info .col_1 .btn_block .btn {
	float: left;
	margin-right: 12px;
}
.general_info .col_1 .btn_block .info_tooltip {
	position: relative;
	float: left;
	color: #3d9163;
	border: 1px solid #4bb179;
	background: #ffffff;
	height: 38px;
	line-height: 38px;
	padding: 0 18px;
	border-radius: 3px;
}
.general_info .col_1 .btn_block .info_tooltip:before {
	content: "";
	display: block;
	position: absolute;
	top: -1px;
	left: -13px;
	background: url("../images/info_tooltip.png") no-repeat;
	width: 14px;
	height: 40px;
}
.general_info .col_1 .info_element,
.wagon_choice .info_element {
	display: inline-block;
	position: relative;
}

/* wagon block */
.wagon {
	border-bottom: 1px dashed #e1e1e1;
	border-top: 1px dashed #e1e1e1;
	margin: 0 9px;
}
.wagon .hd {
	padding-top: 24px;
	padding-bottom: 20px;
	border: none;
}
.wagon .column_layout .column1 {
	width: 30%;
}
.wagon .column_layout .column2 {
	width: 70%;
}
.wagon_choice .info_tooltip {
	position: relative;
	color: #3d9163;
	border: 1px solid #4bb179;
	background: #ffffff;
	height: 20px;
	line-height: 20px;
	padding: 0 9px;
	border-radius: 3px;
}
.wagon_choice .info_tooltip:before {
	content: "";
	display: block;
	position: absolute;
	top: -1px;
	left: -7px;
	background: url("../images/info_tooltip.png") no-repeat left bottom;
	width: 8px;
	height: 22px;
}
.wagon_choice .info_tooltip.disabled {
	border: 1px solid #b9bbc4;
	color: #bebfc5;
}
.wagon_choice .info_tooltip.disabled:before {
	background-position: 0 -79px;
}
.wagon_choice .info_element {
	margin-bottom: 10px;
	margin-right: 21px;
}

.wagon_choice .info_element .radio + label {
	background: url(../images/gr_custom-inputs.png) no-repeat 0px -159px;
    line-height: 22px;
    padding: 2px 0px 1px 26px;
}

.wagon_choice .info_element .radio:checked + label {background-position: 0px -239px;}

.wagon_choice .info_element .info_tooltip {
	display: inline-block;
	margin-left: 5px;
}

/* wagon models */
.legend {
	margin-bottom: 20px;
	font-size: 11px;
	text-align: center;
}
.legend span {
	margin-left: 16px;
}
.legend span:first-child {
	margin-left: 0;
}
.legend .icon {
	display: inline-block;
	vertical-align: middle;
	width: 22px;
	height: 22px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	margin-right: 7px;
}
.legend .bottom_shelf .icon {
	background: #dedede;
}
.legend .top_shelf .icon {
	background: #f1f1f1;
}
.legend .current_shelf .icon {
	background: #f2854c;
}
.legend .back_dir .icon,
.legend .forward_dir .icon {
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	background: url("../images/models/dir_sprite.png") 0 -93px;
}
.legend .back_dir .icon {
	background-position: 0 -93px;
}
.legend .forward_dir .icon {
	background-position: 0 -118px;
}
.wagon_model {
	position: relative;
	border: 1px solid #f2854c;
	height: 137px;
	width: 679px;
	margin: 0 auto 30px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.wagon_model table {
	position: absolute;
	top: 0;
	table-layout: fixed;
}
.wagon_model td {
	text-align: center;
	vertical-align: middle;
	padding: 1px 4px 1px 5px;
}
.wagon_model .current_wagon_number {
	position: absolute;
	top: 50%;
	margin-top: -28px;
	left: 35px;
	font: 48px pf_beausans_prothin, Arial, sans-serif;
	color: #b7b9c3;
}
.wagon_number {
	position: relative;
	background: #ebebeb;
	font-size: 12px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	display: block;
	width: 20px;
	height: 20px;
	text-align: center;
	margin: 0 auto;
	line-height: 20px;
	cursor: pointer;
	color: #000000;
}
.wagon_number.active {
	background: #f2854c;
	color: #ffffff;
}
.wagon_number.lower_shelves.active {
	background: #f2854c;
	color: #ffffff;
}
.wagon_number.sold {
	cursor: default;
}
.wagon_number.sold {
	color: #b8b8b8;
}
.wagon_number.wind_dir_l:before,
.wagon_number.wind_dir_r:before,
.wagon_number.back_dir:before,
.wagon_number.forward_dir:before {
	position: absolute;
	content: "";
	top: 0;
	width: 3px;
	height: 20px;
	background: url("../images/models/dir_sprite.png") no-repeat;
}
.wagon_number.wind_dir_l:before {
	background-position: -19px -177px;
	left: 0;
	top: auto;
	bottom: 0;
	width: 20px;
	height: 3px;
}
.wagon_number.wind_dir_r:before {
	background-position: 0 -174px;
	left: 0;
	width: 20px;
	height: 3px;
}
.wagon_number.back_dir:before {
	background-position: 0 0;
	left: -1px;
}
.wagon_number.forward_dir:before {
	background-position: 0 -20px;
	right: -1px;
}
.first_class .wagon_number.active:before,
.second_class .wagon_number.active:before {
	content: none;
}
.first_class {
	background: url("../images/models/model_first_class_56.gif") no-repeat 95px 0;
}
.first_class table {
	left: 175px;
	top: 3px;
}
.second_class {
	background: url("../images/models/model_second_class_56.gif") no-repeat 75px 0;
}
.second_class table {
	left: 192px;
	top: 3px;
}
.second_class .current_wagon_number {
	left: 25px;
}
/* luxury */
.luxury .wagon_number {
	height: 49px;
	line-height: 49px;
	font-size: 13px;
}
.luxury td.separator {
	width: 5px;
}
.luxury td {
	padding: 1px;
}
.luxury_18 {
	background: url("../images/models/model_luxury_18.gif") no-repeat 88px 0;
}
.luxury_18 table {
	left: 165px;
	top: 10px;
}
.luxury_18 .current_wagon_number {
	left: 32px;
}
.luxury_20 {
	background: url("../images/models/model_luxury_20.gif") no-repeat 51px 0;
}
.luxury_20 table {
	left: 111px;
	top: 10px;
}
.luxury_20 .current_wagon_number {
	left: 12px;
}
/* /luxury */

/* platzkart */
.four_places td {
	text-align: center;
	vertical-align: middle;
	padding: 1px 4px;
}
.four_places .wagon_number {
	height: 40px;
	line-height: 40px;
	font-size: 11px;
	z-index: 1;
}
.platzkart {
	background: url("../images/models/model_platzkart.gif") no-repeat 76px 0;
}
.platzkart table {
	left: 112px;
	top: 5px;
}
.platzkart .current_wagon_number {
	left: 25px;
}
.wagon_number.lower_shelves {
	background: #dedede;
	top: -10px;
	right: -3px;
	z-index: 0;
}
.wagon_number.lower_shelves:before {
	/*content: none;*/
}
.top_shelf:before {
	content: "";
	display: block;
	position: absolute;
	bottom: -1px;
	right: -1px;
	width: 18px;
	height: 11px;
	background: url("../images/models/dir_sprite.png") no-repeat 0 -50px;
}
.other_side .wagon_number.lower_shelves {
	right: 3px;
}
.other_side .top_shelf:before {
	background-position: 0 -62px;
	left: -1px;
	right: auto
}
.side_flanges .wagon_number {
	width: 40px;
	height: 20px;
	line-height: 20px;
	z-index: 0;
}
.side_flanges .wagon_number.lower_shelves {
	top: 4px;
	right: -3px;
}
.side_flanges .top_shelf:before {
	background-position: 0 -43px;
	bottom: auto;
	top: -1px;
	left: auto;
	right: -1px;
	width: 38px;
	height: 6px;
}
/* /platzkart */

/* coupe */
.coupe_36 {
	background: url("../images/models/model_coupe_36.gif") no-repeat 77px 0;
}
.coupe_36 table {
	left: 111px;
	top: 7px;
}
.coupe_36 .current_wagon_number {
	left: 24px;
}
.coupe_40 {
	background: url("../images/models/model_coupe_40.gif") no-repeat 48px 0;
}
.coupe_40 table {
	left: 82px;
	top: 7px;
}
.coupe_40 .current_wagon_number {
	left: 11px;
}
/* /coupe */

/* Hyundai */
.wagon_model.hyundai_1 {
	border-radius: 37px 6px 6px 37px;
	-webkit-border-radius: 37px 6px 6px 37px;
	-moz-border-radius: 37px 6px 6px 37px;
	background: url("../images/models/model_hyundai_1.gif") no-repeat 109px 0;
}
.hyundai_1 table {
	left: 244px;
	top: 3px;
}
.hyundai_1 .current_wagon_number {
	left: 42px;
}
.wagon_model.hyundai_2 {
	background: url("../images/models/model_hyundai_2.gif") no-repeat 109px 0;
}
.hyundai_2 table {
	left: 122px;
	top: 3px;
}
.hyundai_2 .current_wagon_number {
	left: 42px;
}
.wagon_model.hyundai_3 {
	background: url("../images/models/model_hyundai_3.gif") no-repeat 64px 0;
}
.hyundai_3 table {
	left: 146px;
	top: 3px;
}
.hyundai_3 .second_tbl {
	left: 186px;
	top: 88px;
}
.hyundai_3 .current_wagon_number {
	left: 20px;
}
.wagon_model.hyundai_4 {
	background: url("../images/models/model_hyundai_4.gif") no-repeat 64px 0;
}
.hyundai_4 table {
	left: 84px;
	top: 3px;
}
.hyundai_4 .second_tbl {
	left: 124px;
	top: 88px;
}
.hyundai_4 .current_wagon_number {
	left: 20px;
}
.wagon_model.hyundai_5 {
	border-radius: 6px 37px 37px 6px;
	-webkit-border-radius: 6px 37px 37px 6px;
	-moz-border-radius: 6px 37px 37px 6px;
	background: url("../images/models/model_hyundai_5.gif") no-repeat 64px 0;
}
.hyundai_5 table {
	left: 124px;
	top: 3px;
}
.hyundai_5 .current_wagon_number {
	left: 19px;
}
.hyundai_5 .second_tbl {
	left: 81px;
	top: 68px;
}
/* /Hyundai */

/* Skoda */
.skoda_1 table {
	left: 298px;
	top: 3px;
}
.wagon_model.skoda_1 {
	border-radius: 37px 6px 6px 37px;
	-webkit-border-radius: 37px 6px 6px 37px;
	-moz-border-radius: 37px 6px 6px 37px;
	background: url("../images/models/model_Skoda_1.gif") no-repeat 109px 0;
}
.skoda_1 .current_wagon_number {
	left: 43px;
}
.skoda_1 .second_tbl {
	top: 89px;
}
.skoda_1 td {
	min-width: 0.55em;
}

.skoda_1_2floor table {
	left: 239px;
	top: 3px;
}
.wagon_model.skoda_1_2floor {
	border-radius: 37px 6px 6px 37px;
	-webkit-border-radius: 37px 6px 6px 37px;
	-moz-border-radius: 37px 6px 6px 37px;
	background: url("../images/models/model_Skoda_1_2floor.gif") no-repeat 109px 0;
}
.skoda_1_2floor .current_wagon_number {
	left: 43px;
}
.skoda_1_2floor .second_tbl {
	top: 112px;
}
.skoda_1_2floor td {
	min-width: 1.55em;
	padding: 1px 2px 1px 3px;
}

.model_skoda_2 table {
	left: 77px;
	top: 3px;
}
.wagon_model.model_skoda_2 {
	background: url("../images/models/model_Skoda_2_3_4.gif") no-repeat 30px 0;
}
.model_skoda_2 .current_wagon_number {
	left: 17px;
}
.model_skoda_2 .wagon_number {
	font-size: 11px;
}
.model_skoda_2 .second_tbl {
	top: 90px;
}
.model_skoda_2 td {
	min-width: 1.56em;
	padding: 1px 2px;
}

.skoda_2_2floor table {
	left: 96px;
	top: 3px;
}
.wagon_model.skoda_2_2floor {
	background: url("../images/models/model_Skoda_2_3_4_2floor.gif") no-repeat 61px 0;
}
.skoda_2_2floor .current_wagon_number {
	left: 19px;
}
.skoda_2_2floor .wagon_number {
	font-size: 11px;
}
.skoda_2_2floor .second_tbl {
	top: 90px;
	left: 145px;
}
.skoda_2_2floor td {
	min-width: 1.56em;
	padding: 1px 2px;
}

.skoda_5 table {
	left: 203px;
	top: 3px;
}
.wagon_model.skoda_5 {
	background: url("../images/models/model_Skoda_5.gif") no-repeat 30px 0;
}
.skoda_5 .current_wagon_number {
	left: 19px;
}
.skoda_5 .wagon_number {
	font-size: 11px;
}
.skoda_5 .second_tbl {
	top: 90px;
}
.skoda_5 td {
	min-width: 1.55em;
	padding: 1px 2px;
}

.skoda_5_2floor table {
	left: 96px;
	top: 3px;
}
.wagon_model.skoda_5_2floor {
	background: url("../images/models/model_Skoda_5_2floor.gif") no-repeat 61px 0;
}
.skoda_5_2floor .current_wagon_number {
	left: 19px;
}
.skoda_5_2floor .wagon_number {
	font-size: 11px;
}
.skoda_5_2floor .second_tbl {
	top: 90px;
	left: 145px;
}
.skoda_5_2floor td {
	min-width: 1.56em;
	padding: 1px 2px;
}

.skoda_6 table {
	left: 244px;
	top: 3px;
}
.wagon_model.skoda_6 {
	border-radius: 6px 37px 37px 6px;
	-webkit-border-radius: 6px 37px 37px 6px;
	-moz-border-radius: 6px 37px 37px 6px;
	background: url("../images/models/model_Skoda_6.gif") no-repeat 180px 0;
}
.skoda_6 .current_wagon_number {
	left: 43px;
}
.skoda_6 .second_tbl {
	top: 89px;
}
.skoda_6 td {
	min-width: 0.55em;
	padding: 1px 2px 1px 4px;
}

.skoda_6_2floor table {
	left: 244px;
	top: 3px;
}
.wagon_model.skoda_6_2floor {
	border-radius: 6px 37px 37px 6px;
	-webkit-border-radius: 6px 37px 37px 6px;
	-moz-border-radius: 6px 37px 37px 6px;
	background: url("../images/models/model_Skoda_6_2floor.gif") no-repeat 180px 0;
}
.skoda_6_2floor .current_wagon_number {
	left: 43px;
}
.skoda_6_2floor .second_tbl {
	top: 89px;
}
.skoda_6_2floor td {
	min-width: 1.55em;
	padding: 1px 2px 1px 3px;
}

/* /Skoda */

/* /wagon models */

/* tickets */
.tickets {
	padding: 24px 29px 0;
}
.attention_tooltip {
	position: relative;
	background: #fbe496;
	border-radius: 6px;
	padding: 7px 27px 7px 11px;
	margin-bottom: 11px;
	font: 13px pf_beausans_prosemibold, Arial, sans-serif;
}
.ticket_item {
	position: relative;
	border-top: 1px dashed #e1e1e1;
	padding: 0 15px;
}
.ticket_item.general_info .col {
	border-left: none;
	padding: 20px 0 4px;
}
.ticket_item.general_info .col_1 {
	width: 16%;
	text-align: left;
}
.ticket_item.general_info .col_2 {
	width: 31%;
	vertical-align: top;
	text-align: left;
}
.ticket_item.general_info .col_3 {
	width: 27%;
	vertical-align: top;
	text-align: left;
}
.ticket_item.general_info .col_4 {
	width: 25%;
	text-align: center;
}
.ticket_item.general_info .col_1 .info_element {
	width: auto;
	float: none;
	margin-bottom: 0;
}
.ticket_item.general_info .col_2 .info_element,
.ticket_item.general_info .col_3 .info_element {
	margin-bottom: 9px;
}
.ticket_item.general_info .col_3 .inp {
	width: 158px;
}
.ticket_item .choice_block {
	float: none;
	margin-right: 0;
}
.ticket_item .choice_block .ui-button-text {
	padding: 5px 10px;
	font-size: 12px;
	font-weight: normal;
	color: #424450;
	text-transform: none;
	min-width: 74px;
}
.ticket_item .choice_block .ui-button.ui-state-active {
	background: #f2854c;
	color: #ffffff;
	border: 1px solid #f2854c;
}
.ticket_item .choice_block .ui-button.ui-state-active.ui-state-hover {
	background: #f2854c;
	border: 1px solid #f2854c;
}
.birthday_field label {
	font-size: 12px;
}
.birthday_field .inp {
	background: url("../images/search_sprite.png") -10px -1142px no-repeat;
	width: 95px;
	text-align: right;
	font-size: 10px;
}
.radio_btn_block_2 {
	position: relative;
}
.radio_btn_block_2 .child_datepicker_inp,
.ui-datepicker-trigger {
	position: absolute;
	background: transparent;
	right: 28px;
	top: 0;
	width: 93px;
	height: 25px;
	border: 1px solid;
}
.child_datepicker {
	margin-left: -95px;
	margin-top: 9px;
	border: 1px solid #B7B9C3;
	border-radius: 0;
}
.child_datepicker:before {
	background: url("../images/datepicker_arrow.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	content: "";
	display: block;
	height: 11px;
	left: 100px;
	position: absolute;
	top: -11px;
	width: 20px;
}
.ui-datepicker.child_datepicker .ui-datepicker-prev,
.ui-datepicker.child_datepicker .ui-datepicker-next {
	top: 3px;
}
.child_datepicker .title {
	font-size: 11px;
	text-align: center;
	padding: 15px 0 10px;
}
.ticket_item .choice_block .ui-button.middle_btn {
	border-left: 1px solid #f2854c;
}
.ticket_item .info_element .price,
.tickets .in_total .price {
	font: 18px pf_beausans_prolight, Arial, sans-serif;
}
.ticket_item .info_element .price span,
.tickets .in_total .price span {
	font: 18px pf_beausans_prosemibold, Arial, sans-serif;
	color: #000000;
}
.luggage_field {
	position: relative;
}
.luggage_field label {
	font-size: 12px;
	margin-right: 7px;
	color: #424450;
}
.luggage_field p {
	padding-bottom: 0;
}
.luggage_field .info_icon {
	position: relative;
	top: 4px;
}
.luggage_type {
	width: 187px;
}
.luggage_type.select2-container .select2-choice {
	height: 25px;
	line-height: 25px;
	font-size: 12px;
}
.luggage_type.select2-container .select2-choice .select2-arrow b {
	background: url("../images/search_sprite.png") no-repeat -14px -1019px;
}
.ticket_item.general_info .luggage_weight .inp {
	width: 100px;
}
.ticket_item.additional {
	padding-top: 0;
	border-top: none;
	display: none;
}
.ticket_item.general_info.additional .col {
	padding: 0 0 10px;
}

.tickets .in_total {
	border-top: 1px dashed #e1e1e1;
	padding: 23px 0 34px;
}
.tickets .in_total .cancel_btn {
	float: left;
}
.tickets .in_total .btn_block {
	float: right;
}
.tickets .in_total .lbl {
	font: 18px pf_beausans_prolight, Arial, sans-serif;
	margin-right: 6px;
	color: #7f7f7f;
}
.tickets .in_total .price {
	margin-right: 17px;
}
.tickets .in_total .btn {
	font-size: 16px;
}
.tickets .in_total .cancel_btn {
	top: 8px;
}

/* /tickets */
/* /wagon block */

/* close buttons */
.close_icon {
	position: absolute;
	background: url("../images/icons_sprite.png") no-repeat -126px -4px;
	width: 15px;
	height: 16px;
	cursor: pointer;
}
.info_block .close_icon {
	top: 0;
	right: 0;
}
.result_item.open .close_icon {
	display: block;
	background-position: -162px -4px;
	top: 16px;
	right: 16px;
}
.attention_tooltip .close_icon,
.result_item .attention_tooltip .close_icon {
	top: 11px;
	right: 10px;
	background-position: -196px -5px;
	width: 9px;
	height: 9px;
}
.result_item .ticket_item .close_icon {
	display: block;
	top: 50%;
	right: 14px;
	margin-top: -8px;
	background-position: -126px -4px;
}
/* /close buttons */
/* /ticket page */

/* Footer */
.copyright,
.social_box {
	position: relative;
	top: 29px;
}
.empty {
	height: 70px;
	clear: both;
}
.footer {
	position: relative;
	color: #3A3A3A;
	background: #efefef;
	height: 70px;
	margin-top: -71px;
}
.footer .container {
	height: 70px;
}
.bottom_nav {
	position: relative;
	float: right;
	top: 16px;
}
.bottom_nav li {
	display: inline;
	margin-left: 38px;
}
.bottom_nav a {
	color: #4bb179;
}
.bottom_nav .contact_us {
	position: relative;
	background: #ffffff;
	padding: 13px 15px 13px 47px;
	display: inline-block;
	border-radius: 4px;
}
.bottom_nav .contact_us:after {
	position: absolute;
	content: "";
	top: 10px;
	left: 16px;
	width: 23px;
	height: 20px;
	background: url("../images/icons_sprite.png") no-repeat -62px -2px;
	display: block;
}
.social_box {
	color: #6d6f71;
	width: 196px;
	float: right;
	top: 20px;
}
.social_box li {
	display: block;
	float: right;
	width: 31px;
	height: 31px;
	margin-left: 9px;
}
.social_box .item {
	display: inline-block;
	width: 31px;
	height: 32px;
	background: url("../images/social_sprite.png") no-repeat;
}
.social_box .item:hover {
	opacity: 0.9;
}
.social_box .item.fcb {
	background-position: 0 0;
}
.social_box .item.vk {
	background-position: -40px 0;
}
.social_box .item.in {
	background-position: -80px 0;
}
.social_box .item.tw {
	background-position: -120px 0;
}
/* /Footer */

/* Terms page */
.terms_block .column1,
.terms_block .column2 {
	width: 48%;
}
.terms_block .column1 {
	margin-right: 4%;
}
/*.terms_block .info_txt {
    width: 48%; 
    display: inline-block; 
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}*/
.terms_block .info_txt:nth-child(2n) {padding-left: 2%;}
.terms_block .info_txt:nth-child(2n+1) {padding-right: 2%;}
.terms_block .info_txt,
.faq_block .info_txt {
	margin-bottom: 40px;
	line-height: 22px;
}
.terms_block p {
	line-height: 22px;
}
.terms_block h1 {
	margin-bottom: 28px;
}
/* /Terms page */

/* FAQ */
.content.faq_block {
	padding-top: 0;
}
.faq_block .tbl_layout .l_column {
	width: 30%;
	padding-top: 90px;
}
.faq_block .tbl_layout .r_column {
	background: #ffffff;
	width: 70%;
	border: none;
}
.faq_block .question_list li {
	border-bottom: 1px dashed #d8d9de;
	margin: 0;
	padding: 10px 0;
}
/* /FAQ */

/* Contacts */
.contacts_block {
	margin-bottom: 60px;
}
.contacts_block h1 {
	margin-bottom: 40px;
}
.contacts_block .field,
.support_pp .field {
	position: relative;
	margin-bottom: 12px;
	color: #000000;
}
.contacts_block .l_column {
	padding-top: 0;
	padding-left: 0;
	width: 68%;
}
.contacts_block .r_column {
	border-left: 1px dashed #b7b9c3;
	padding-top: 0;
	width: 32%;
}
.contact_field .column1 {
	width: 59%;
}
.contact_field .column2 {
	float: right;
	width: 39%;
}
.contact_field .inp {
	height: 38px;
}
.contacts_block .btn_block,
.support_pp .btn_block {
	text-align: right;
}
.support_pp .btn_block .cancel_btn {
	float: left;
	background: transparent;
}
.send_btn {
	padding: 9px 31px 9px 58px;
	font: 18px pf_beausans_prosemibold, Arial, sans-serif;
}
.send_btn:before {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -9px;
	left: 15px;
	width: 22px;
	height: 18px;
	background: url("../images/contact_sprite.png") no-repeat;
}
.send_btn.disabled,
.btn.disabled {
	background: #b7bac3;
	cursor: default;
        pointer-events: none;
}
.contact_info .field {
	padding-left: 43px;
	margin-bottom: 26px;
}
.contact_info .icon {
	position: absolute;
	top: -4px;
	left: 0;
	display: block;
	width: 26px;
	height: 26px;
	background: url("../images/contact_sprite.png") no-repeat;
}
.contact_info .mail .icon {
	background-position: 0 -18px;
}
.contact_info .phone .icon {
	background-position: 3px -47px;
}
.contact_info .address .icon {
	background-position: 2px -77px;
}
.contact_info .mail a {
	color: #1a76a7;
}
.contact_info address {
	font-style: normal;
}
/* /Contacts */

/* 404 */
.not_found_page.content,
.error_page.content{
	padding-top: 36px;
}
.not_found_page.content,
.error_page.content{
	border-top: 1px solid #81c9a1;
	background-color: transparent;
}
.not_found_page h1 {
	text-align: center;
	color: #ffffff;
	font-weight: normal;
	margin-bottom: 66px;
}
.not_found_page h1 span {
	font: 36px pf_beausans_prosemibold, Arial, sans-serif;
}
.not_found_page .icon {
	background: url("../images/worning_icon.png") no-repeat;
	width: 35px;
	height: 35px;
	display: inline-block;
	margin-right: 20px;
	position: relative;
	top: 3px;
}
.not_found_page .img_block {
	
}
.not_found_page .img_block.ise {
    background: url("../images/500.png") no-repeat;
    width: 600px;
    height: 257px;
    margin: 0 auto 27px;
}

.not_found_page .img_block{
	background: url("../images/404.jpg") no-repeat;
    width: 579px;
	height: 257px;
	margin: 0 auto 27px;
}

.not_found_page .info_box {
	position: relative;
	background: #66bd8d;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 30px;
	width: 579px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 0 auto 40px;
	color: #ffffff;
	text-align: center;
	font: 24px pf_beausans_prolight, Arial, sans-serif;
}
.not_found_page .info_box a {
	text-decoration: underline;
	color: #ffffff;
	font: 24px pf_beausans_prosemibold, Arial, sans-serif;
}
.not_found_page .info_box a:hover {
	text-decoration: none;
}
.not_found_page .info_box:before {
	content: "";
	display: block;
	position: absolute;
	top: -20px;
	margin-left: -11px;
	left: 50%;
	width: 22px;
	height: 20px;
	background: url("../images/found_page_arrow.png") no-repeat;
}

.error_page {padding: 80px 0;}

.error_page .image {
	display: inline-block;
	vertical-align: top;
	margin-right: 60px;
	margin-bottom: 40px;
}

.error_title {
	display: inline-block;
	vertical-align: top;
	margin-top: 60px;
	font: 36px/50px pf_beausans_prolight,sans-serif;
	color: #fff;
}

.error_notice {
	position: relative;
	margin-top: 70px;
	color: #fbe496;
	font-size: 40px;
}

.error_notice:before {
	content: '';
	position: absolute;
	right: 100%;
	top: 25px;
	display: block;
	width: 75px;
	height: 75px;
	margin-right: 25px;
	background: url(../images/error_arrow.png) no-repeat center;
}

.error_page .form_train {margin-bottom: 40px;}
/* /404 */

/* Bad page */
.bad_page {
	padding-top: 55px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.bad_page .info {
	text-align: center;
	font-size: 18px;
	color: #ffffff;
	margin-bottom: 36px;
}
.bad_page .browsewrs_list {
	margin: 0 auto 40px;
	width: 700px;
	text-align: center;
}
.bad_page .browsewrs_list li {
	float: left;
	width: 140px;
}
.bad_page .browsewrs_list a {
	color: #ffffff;
	font-size: 16px;
}
.bad_page .contact_us {
	background-color: #ffffff;
	color: #4bb179;
	font-size: 14px;
	border-radius: 3px;
	height: 40px;
	line-height: 41px;
	text-transform: none;
	padding: 0 29px 0 48px;
	top: 10px;
}
.bad_page .contact_us:after {
	background-position: -60px -2px;
	left: 16px;
}
/* /Bad page */

/* support popup */
.support_pp .area {
	width: 100%;
	height: 117px;
	resize: none;
}
.support_pp .price_sort {
	width: 100%;
	background: #ffffff;
}
.support_pp .inp {
	height: 38px;
	padding: 0 16px;
}
.support_pp .send_btn {
	color: #ffffff;
}
.support_pp .error_message {
	bottom: -54px;
}
.support_pp .sent_message {
	margin-bottom: 160px;
}
.ui-dialog .ui-dialog-titlebar {
	padding: 0;
	background: transparent;
	border: none;
}
.ui-dialog .support_pp.ui-dialog-content {
	padding: 0 35px 25px;
	margin-top: 8px;
}

.ui-dialog .ui-state-default .ui-icon {
	width: 15px;
	height: 15px;
	background: url("../images/icons_sprite.png") no-repeat -126px -6px;
}
.ui-dialog .ui-dialog-titlebar-close {
	border: none;
	background: transparent;
	top: 27px;
	right: 20px;
}
.ui-dialog {
	background: #f9f9f9;
}
.support_pp .select2-container .select2-choice {
	background: url("../images/search_sprite.png") no-repeat -6px -951px;
	padding-left: 40px;
}
/* /support popup */

/* print ticket */
.print_ticket .img_block {
	margin-bottom: 20px;
}
.print_ticket .img_block img {
	display: block;
}
.print_ticket .attention_tooltip {
	margin-bottom: 20px;
	font: 14px pf_beausans_proregular, Arial, sans-serif
}
.print_ticket .attention_tooltip b {
	font: 14px pf_beausans_prosemibold, Arial, sans-serif;
}
.print_ticket .btn_block {
	text-align: right;
	margin-bottom: 30px;
}
.print_ticket .btn_block a {
	margin-left: 19px;
	font-size: 18px;
	text-decoration: none;
}
.print_ticket .btn_block a.link {
	margin-left: 19px;
	color: #4bb179;
}
.pdf_btn {
	background: #ffffff;
	color: #424450;
	padding: 9px 26px;
	display: inline-block;
	border: 1px solid #b9bbc4;
	font: 18px pf_beausans_prolight, Arial, sans-serif;
}
/* /print ticket */

.error_wrap {
	position: relative;
}
.error_message {
	position: absolute;
	z-index: 1;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	left: 0;
	background: #f65b54;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 12px 14px 12px 42px;
	font-size: 14px;
	bottom: -52px;
	color: #ffffff;
	white-space: nowrap;
}
.error_message:before {
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 12px solid #f65b54;
	top: -12px;
	content: "";
	height: 0;
	left: 30px;
	margin-left: -14px;
	position: absolute;
	width: 0;
}
.error_message.top_view {
	top: -54px;
	bottom: auto;
}
.error_message.top_view:before {
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 12px solid #f65b54;
	border-bottom: none;
	bottom: -12px;
	top: auto;
	content: "";
	height: 0;
	left: 30px;
	margin-left: -14px;
	position: absolute;
	width: 0;
}
.error_message .close_icon {
	left: 12px;
	top: 11px;
	background-position: -272px -5px;
}
.ticket_item .error_wrap {
	display: inline-block;
}
.ticket_item .error_message {
	font-size: 12px;
	padding: 7px 5px 5px 26px;
	bottom: -35px;
}
.ticket_item .error_message.top_view {
	top: -35px;
	bottom: auto;
}
.ticket_item .error_message:before {
	top: -8px;
	left: 17px;
	bottom: auto;
}
.ticket_item .error_message.top_view:before {
	bottom: -8px; top: auto;
}
.ticket_item .error_message .close_icon {
	background: url("../images/close_sm_icon.png") no-repeat;
	width: 12px;
	height: 12px;
	left: 8px;
	margin-top: -6px;
}
.ticket_item .birthday_field .error_message {
	min-width: 200px;
}
.ticket_item .luggage_weight .error_message {
	min-width: 133px;
}



.sent_message {
	position: relative;
	text-align: center;
	margin-top: 100px;
	font: 26px pf_beausans_proregular, arial, sent-serif;
}
.sent_message:before {
	position: relative;
	top: 9px;
	left: 0;
	content: "";
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-right: 16px;
	background: url("../images/sent_icon.gif") no-repeat;
}

.ui-tooltip {
	padding: 14px 16px;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	box-shadow: none;
	-webkit-box-shadow: none;
	background: #fbe497;
	border: none;
	font-size: 12px;
}
.ui-tooltip:before {
	border-bottom: 10px solid #fbe497;
	border-left: 10px solid rgba(0, 0, 0, 0);
	border-right: 10px solid rgba(0, 0, 0, 0);
	content: "";
	height: 0;
	left: 30px;
	margin-left: -14px;
	position: absolute;
	top: -10px;
	width: 0;
}

/* Order page */
.inner_page.order_page {
	padding-top: 32px;
}
.order_page .tickets {
	padding: 0;
}
.order_page .tickets .wrap {
	padding: 0 27px;
	margin-bottom: 20px;
}
.order_page .ticket_item {
	padding: 18px 0;
}
.order_page .ticket_item.general_info .col_1 {
	width: 14%;
}
.order_page .ticket_item.general_info .col_2 {
	width: 61%;
	padding: 0 19px;
}
.order_page .ticket_item.general_info .col_4 {
	width: 25%;
	padding: 0;
}
.order_page .ticket_block .wrap {
	border: 1px solid #b7b9c3;
	border-radius: 3px;
}
.order_page .general_info .col {
	border-left: 1px dashed #cacaca;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.order_page .general_info .info_element {
	display: inline-block;
	padding: 2px 13px;
	border-left: 1px dashed #cacaca;
}
.order_page .ticket_item:first-child,
.order_page .general_info .col:first-child,
.order_page .general_info .info_element:first-child {
	border: none;
}
.order_page .name_field {
	border-bottom: 1px dashed #cacaca;
	margin-bottom: 14px;
}
.order_page .name_field .info_element {
	border: none;
	padding-left: 0;
	padding-right: 45px;
}
.order_page .ticket_item .service_field .info_element {
	margin-bottom: 0;
	float: left;
	min-height: 35px;
}
.order_page .ticket_item .service_field .info_element:first-child {
	padding-left: 0;
}
.order_page .result_item .col_1 .info_element .info_txt {
	font: 24px pf_beausans_prolight, Arial, sans-serif;
}
.order_page .result_item .col_1 .info_element {
	padding-left: 0;
}
.order_page .ticket_item .note {
	font: 14px pf_beausans_prosemibold, Arial, sans-serif;
	color: #f2854c;
	font-weight: bold;
}
.order_page .result_item .ticket_item .close_icon {
	display: inline-block;
	top: 0;
	right: 0;
	margin-top: 0;
	background-position: -126px -4px;
	position: relative;
	margin-left: 19px;
}
.order_page .tickets .in_total {
	border: none;
	padding-top: 0;
}
.order_page .tickets .in_total .price_block,
.order_page .tickets .in_total .btn_block {
	float: right;
}
.order_page .tickets .in_total .btn {
	padding: 13px 17px;
}
.order_page .in_total .btn_block .lbl {
	min-width: 147px;
	text-align: right;
	display: inline-block;
}
.order_page .in_total .btn_block .price {
	min-width: 115px;
	display: inline-block;
}
.order_page .in_total .btn_block .new_price span{
	font-size: 24px;
}
.small_txt {
	font: 14px pf_beausans_proregular, Arial, sans-serif !important;
}
.price_txt {
	line-height: 35px !important;
}
.width_guide.info_element {
	max-width: 137px;
}
.order_page .main_search {
	width: auto;
	padding: 0;
	margin-bottom: 31px;
}
.order_page .main_search .error_message {
	width: 98%;
	bottom: -54px;
}
.order_page.inner_page .wrap_inp {
	background: url("../images/inp_divider_inner.gif") no-repeat right 9px;
}
.order_page.inner_page .wrap_inp:last-child {
	background: none;
}
.inner_page .pas_input {
	width: 324px;
	background-position: 3px -1260px;
	padding-left: 55px;
}
.inner_page .mail_input {
	background-position: 5px -1201px;
	width: 324px;
	padding-left: 55px;
}
.inner_page .mail_input.error {
	background-position: 5px -1410px;
}
.inner_page .pas_input.error {
	background-position: 3px -1342px;
}
.train_info {
	font-size: 18px;
	margin-bottom: 22px;
}
.train_info.column_layout .column1 {
	width: 50%;
}
.train_info.column_layout .column2 {
	width: 50%;
}
.train_info .field {
	margin-bottom: 15px;
}
.train_info .lbl {
	min-width: 130px;
	display: inline-block;
	font: 18px pf_beausans_prosemibold, Arial, sans-serif;
}
/* /Order page */


/* Reserve page */

.reserve_search_container {
	background: none;
	border: 0;
}

.reserve_form {
	width: 100%;
	margin-bottom: 30px;
	padding-bottom: 50px;
	border-bottom: 2px solid #B7B9C3;
}

.reserve_form .wrap_inp {
	display: inline-block;
	vertical-align: top;
}

.reserve_textfields {
	display: inline-block;
	vertical-align: top;
	border: 1px solid #B7B9C3;
	background-color: #fff;
	border-radius: 4px;
}

.reserve_form .btn {
	padding: 15px 25px;
	font-size: 16px;
	line-height: 20px;
	margin-left: 20px;
}

.cancel_reserve {
	text-align: right;
	margin-bottom: 20px;
}

.agree_terms {float: left;}

.agree_terms .checkbox + .checkbox_label {
	background: url(../images/gr_custom-inputs.png) no-repeat 0 0;
    height: 18px;
	padding-left: 28px;
}

.agree_terms .checkbox:checked + .checkbox_label {background-position: 0 -80px;}

.agree_terms a {
	color: #4BB179;
	text-decoration: underline;
}

.agree_terms a:hover {text-decoration: none;}

/* /Reserve page */

.error_message {display: none;}


.user_content p {margin-bottom: 10px;}

.user_content p:last-of-type {margin: 0;}

.user_content p + h1,
.user_content p + h2 {
	margin-top: 30px;
	margin-bottom: 15px;
}

.user_content p + h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}

.user_content li {
	position: relative;
	padding-left: 25px;
}

.user_content li + li {margin-top: 5px;}

.user_content li:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 20px;
	height: 20px;
	background: url(../images/list_image.png) no-repeat;
}

.user_content ul {margin-bottom: 10px;}

.user_content table {width: 100%;}

.user_content img {padding: 20px;}

.user_content p + p {margin-top: 10px;}

.user_content a{color: #4BB179;}

.user_content a:hover {text-decoration: underline;}

.send_email {
	/*Сюда вписывай свойства для блочка с инпутом, отступы там всякие и т.п.*/
}

.send_email .mail_input {
    background-position: 5px -1410px;
	border: 1px solid #B7B9C3;
	text-transform: none;
}


/* BEGIN - страница оформленного заказа */

.inline_block {
	display: inline-block;
	vertical-align: top;
}

.inline_block_middle {
	display: inline-block;
	vertical-align: middle;
}

.checkout_content{
	margin: 40px 0;
	border: 1px solid #4bb179;
	border-radius: 3px;
	background-color: #fff;
	
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.checkout_title {
	position: relative;
	display: table;
	width: 100%;
	padding: 20px 15px;
	background-color: #4bb179;
	color: #fff;
	
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.checkout_title_item {
	overflow: hidden;
	position: relative;
	width: 32%;
	height: 60px;
	margin: 0 -2px;
	white-space: nowrap;
	
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.checkout_title_item:hover {overflow: visible;}

.checkout_title_item .checkout_title_inner {
	display: table;
	padding: 10px 15px;
	overflow: hidden;
	background-color: #4bb179;
	
	-webkit-transition: all 0.2s linear 0s;
			transition: all 0.2s linear 0s;
	
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.checkout_title_item.long_text:hover .checkout_title_inner {
	position: absolute;
	z-index: 1;
	overflow: visible;
	box-shadow: 3px 3px 9px rgba(0,0,0,0.1); 
	border-radius: 3px;
}

.checkout_train_info {width: 36%;}

.checkout_title_item.long_text:after {
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 40px;
	height: 100%;
	
	background: -webkit-linear-gradient(left,  transparent, #4bb179 75%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  transparent, #4bb179 75%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  transparent, #4bb179 75%); /* IE10+ */
	background: linear-gradient(to right,  transparent, #4bb179 75%); /* W3C */
	
	-webkit-transition: all 0.2s linear 0s;
			transition: all 0.2s linear 0s;
}

.checkout_title_item.long_text:hover:after {opacity: 0;}

.checkout_title_value {font: 14px/20px 'pf_beausans_prothin', sans-serif;}

.checkout_train_icon {
	padding: 4px 10px;
	margin-right: 10px;
	border: 1px solid #fff;
	border-radius: 3px;
}

.checkout_item {
	padding: 30px 29px;
	
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.checkout_item + .checkout_item {border-top: 3px double #58b782;}

.checkout_wagon {
	position: relative;
	width: 180px;
	padding: 30px;
	
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.checkout_wagon .note {
	position: absolute;
	bottom: 10px;
	color: #f2854c;
}

.checkout_name {
	width: 500px;
	padding: 30px 0 30px 30px;
	border-left: 1px dashed #ccc;
	border-right: 1px dashed #ccc;
	text-align: center;

	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.checkout_first_name,
.checkout_last_name {
	min-width: 40%;
	padding-left: 30px;
	text-align: left;
	
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.checkout_price {
	width: 230px;
	padding-left: 50px;
	font-size: 30px;
	line-height: 30px;
	
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.checkout_service {
	margin-top: 30px;
	padding: 30px 30px 0;
	color: #919191;
	text-transform: uppercase;
	border-top: 1px dashed #ccc;
}

.checkout_service_item + .checkout_service_item {margin-left: 30px;}

.checkout_item_title {
	color: #7f7f7f;
	font-size: 14px;
	line-height: 30px;
	text-transform: uppercase;
}

.checkout_item_value {
	color: #000;
	font-size: 24px;
	line-height: 30px;
}

.checkout_total {
	margin-bottom: 40px;
	text-align: right;
}

.checkout_total_label {
	color: #7f7f7f;
	font-size: 18px;
	line-height: 30px;
}

.checkout_total_price {
	margin: 0 30px 0 10px;
	font-size: 30px;
	line-height: 30px;
}

.checkout_icon {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

.checkout_icon_text {
	font: 12px/30px 'pf_beausans_prothin', sans-serif;
	text-transform: uppercase;
}

.icon_train_white {
	width: 40px;
	height: 30px;
	background: url(../images/train_white.png) no-repeat center center;
}

.icon_clock_white {
	width: 30px;
	height: 30px;
	background: url(../images/clock_white.png) no-repeat center center;
}

.checkout_delete {
	z-index: 2;
	top: 10px;
	right: 10px;
	background-position: -272px -5px;
}

.checkout_total .cancel_btn {
	float: left;
	display: block;
}

/* END - страница оформленного заказа */