/*  */
fieldset {
	border: none;
	border-top: 1px solid #d8d9de;
	padding: 24px 0 11px 0;
}
fieldset:first-child {
	border: none;
	padding-top: 0;
}
fieldset p {
	position: relative;
	margin-bottom: 12px;
}
label + p,
input + p {
	margin-top: 20px;
}

input[type=radio],
input[type=checkbox] {
	padding: 0;
	margin: 0;
	height: 18px;
	width: 18px;
	float: left;
	position: absolute;
	left: 0;
	opacity: 0;
}
p > label {
	line-height: 18px;
	padding: 2px 0 1px 35px;
	-moz-transition: color 1s ease;
	-o-transition: color 1s ease;
	-webkit-transition: color 1s ease;
	transition: color 1s ease;
}
fieldset[dir=rtl] p > label {
	padding: 0 18px 0 0;
}
p:not(#foo) > input:hover + label, p:not(#foo) > input:focus + label,
p:not(#foo) > input + label:hover, p:not(#foo) > input:focus + label {
	cursor: pointer;
}

p:not(#foo) > input[type=radio] + label,
p:not(#foo) > input[type=checkbox] + label {
	background: url("../images/gr_custom-inputs.png") no-repeat;
	height: 18px;
	/*padding-bottom: 3px;*/
}
p:not(#foo) > input[type=radio] + label {
	background-position: 0 -159px;
}

/* Checked styles */
p:not(#foo) > input[type=radio]:checked + label {
	background-position: 0 -239px;
}
p:not(#foo) > input[type=checkbox]:checked + label {
	background-position: 0 -80px;
}
p:not(#foo) > input[type=checkbox]:hover:checked + label,
p:not(#foo) > input[type=checkbox]:focus:checked + label,
p:not(#foo) > input[type=checkbox]:checked + label:hover,
p:not(#foo) > input[type=checkbox]:focus:checked + label {
	background-position: 0 -100px;
}
p:not(#foo) > input[type=radio]:hover:checked + label,
p:not(#foo) > input[type=radio]:focus:checked + label,
p:not(#foo) > input[type=radio]:checked + label:hover,
p:not(#foo) > input[type=radio]:focus:checked + label {
	background-position: 0 -259px;
}

/* Hover & Focus styles */
p:not(#foo) > input[type=checkbox]:hover + label,
p:not(#foo) > input[type=checkbox]:focus + label,
p:not(#foo) > input[type=checkbox] + label:hover {
	background-position: 0 -20px;
}
p:not(#foo) > input[type=radio]:hover + label,
p:not(#foo) > input[type=radio]:focus + label,
p:not(#foo) > input[type=radio] + label:hover {
	background-position: 0 -179px;
}

/* Active styles */
p:not(#foo) > input[type=checkbox]:active + label,
p:not(#foo) > input[type=checkbox] + label:hover:active {
	background-position: 0 -40px;
}
p:not(#foo) > input[type=radio]:active + label,
p:not(#foo) > input[type=radio] + label:hover:active {
	background-position: 0 -199px;
}
p:not(#foo) > input[type=checkbox]:active:checked + label,
p:not(#foo) > input[type=checkbox]:checked + label:hover:active {
	background-position: 0 -120px;
}
p:not(#foo) > input[type=radio]:active:checked + label,
p:not(#foo) > input[type=radio]:checked + label:hover:active {
	background-position: 0 -279px;
}

/* Disabled styles */
p:not(#foo) > input[type=checkbox]:disabled + label,
p:not(#foo) > input[type=checkbox]:hover:disabled + label,
p:not(#foo) > input[type=checkbox]:focus:disabled + label,
p:not(#foo) > input[type=checkbox]:disabled + label:hover,
p:not(#foo) > input[type=checkbox]:disabled + label:hover:active {
	background-position: 0 -60px;
}
p:not(#foo) > input[type=radio]:disabled + label,
p:not(#foo) > input[type=radio]:hover:disabled + label,
p:not(#foo) > input[type=radio]:focus:disabled + label,
p:not(#foo) > input[type=radio]:disabled + label:hover,
p:not(#foo) > input[type=radio]:disabled + label:hover:active {
	background-position: 0 -220px;
}
p:not(#foo) > input[type=checkbox]:disabled:checked + label,
p:not(#foo) > input[type=checkbox]:hover:disabled:checked + label,
p:not(#foo) > input[type=checkbox]:focus:disabled:checked + label,
p:not(#foo) > input[type=checkbox]:disabled:checked + label:hover,
p:not(#foo) > input[type=checkbox]:disabled:checked + label:hover:active {
	background-position: 0 -140px;
}
p:not(#foo) > input[type=radio]:disabled:checked + label,
p:not(#foo) > input[type=radio]:hover:disabled:checked + label,
p:not(#foo) > input[type=radio]:focus:disabled:checked + label,
p:not(#foo) > input[type=radio]:disabled:checked + label:hover,
p:not(#foo) > input[type=radio]:disabled:checked + label:hover:active {
	background-position: 0 -300px;
}

fieldset[dir=rtl] p > input {
	left: auto;
	right: 0;
}
fieldset[dir=rtl] p:not(#foo) > input + label {
	background-position: 100% -160px;
}
fieldset[dir=rtl] p:not(#foo) > input[type=radio] + label {
	background-position: 100% -160px;
}

/* Checked styles */
fieldset[dir=rtl] p:not(#foo) > input[type=radio]:checked + label {
	background-position: 100% -239px;
}
fieldset[dir=rtl] p:not(#foo) > input[type=checkbox]:checked + label {
	background-position: 100% -80px;
}
fieldset[dir=rtl] p:not(#foo) > input[type=checkbox]:hover:checked + label,
fieldset[dir=rtl] p:not(#foo) > input[type=checkbox]:focus:checked + label,
fieldset[dir=rtl] p:not(#foo) > input[type=checkbox]:checked + label:hover,
fieldset[dir=rtl] p:not(#foo) > input[type=checkbox]:focus:checked + label {
	background-position: 100% -100px;
}
fieldset[dir=rtl] p:not(#foo) > input[type=radio]:hover:checked + label,
fieldset[dir=rtl] p:not(#foo) > input[type=radio]:focus:checked + label,
fieldset[dir=rtl] p:not(#foo) > input[type=radio]:checked + label:hover,
fieldset[dir=rtl] p:not(#foo) > input[type=radio]:focus:checked + label {
	background-position: 100% -260px;
}

/* Hover & Focus styles */
fieldset[dir=rtl] p:not(#foo) > input[type=checkbox]:hover + label,
fieldset[dir=rtl] p:not(#foo) > input[type=checkbox]:focus + label,
fieldset[dir=rtl] p:not(#foo) > input[type=checkbox] + label:hover {
	background-position: 100% -20px;
}
fieldset[dir=rtl] p:not(#foo) > input[type=radio]:hover + label,
fieldset[dir=rtl] p:not(#foo) > input[type=radio]:focus + label,
fieldset[dir=rtl] p:not(#foo) > input[type=radio] + label:hover {
	background-position: 100% -180px;
}

/* Active styles */
fieldset[dir=rtl] p:not(#foo) > input[type=checkbox]:active + label,
fieldset[dir=rtl] p:not(#foo) > input[type=checkbox] + label:hover:active {
	background-position: 100% -40px;
}
fieldset[dir=rtl] p:not(#foo) > input[type=radio]:active + label,
fieldset[dir=rtl] p:not(#foo) > input[type=radio] + label:hover:active {
	background-position: 100% -200px;
}
fieldset[dir=rtl] p:not(#foo) > input[type=checkbox]:active:checked + label,
fieldset[dir=rtl] p:not(#foo) > input[type=checkbox]:checked + label:hover:active {
	background-position: 100% -120px;
}
fieldset[dir=rtl] p:not(#foo) > input[type=radio]:active:checked + label,
fieldset[dir=rtl] p:not(#foo) > input[type=radio]:checked + label:hover:active {
	background-position: 100% -280px;
}

/* Disabled styles */
fieldset[dir=rtl] p:not(#foo) > input[type=checkbox]:disabled + label,
fieldset[dir=rtl] p:not(#foo) > input[type=checkbox]:hover:disabled + label,
fieldset[dir=rtl] p:not(#foo) > input[type=checkbox]:focus:disabled + label,
fieldset[dir=rtl] p:not(#foo) > input[type=checkbox]:disabled + label:hover,
fieldset[dir=rtl] p:not(#foo) > input[type=checkbox]:disabled + label:hover:active {
	background-position: 100% -60px;
}
fieldset[dir=rtl] p:not(#foo) > input[type=radio]:disabled + label,
fieldset[dir=rtl] p:not(#foo) > input[type=radio]:hover:disabled + label,
fieldset[dir=rtl] p:not(#foo) > input[type=radio]:focus:disabled + label,
fieldset[dir=rtl] p:not(#foo) > input[type=radio]:disabled + label:hover,
fieldset[dir=rtl] p:not(#foo) > input[type=radio]:disabled + label:hover:active {
	background-position: 100% -220px;
}
fieldset[dir=rtl] p:not(#foo) > input[type=checkbox]:disabled:checked + label,
fieldset[dir=rtl] p:not(#foo) > input[type=checkbox]:hover:disabled:checked + label,
fieldset[dir=rtl] p:not(#foo) > input[type=checkbox]:focus:disabled:checked + label,
fieldset[dir=rtl] p:not(#foo) > input[type=checkbox]:disabled:checked + label:hover,
fieldset[dir=rtl] p:not(#foo) > input[type=checkbox]:disabled:checked + label:hover:active {
	background-position: 100% -140px;
}
fieldset[dir=rtl] p:not(#foo) > input[type=radio]:disabled:checked + label,
fieldset[dir=rtl] p:not(#foo) > input[type=radio]:hover:disabled:checked + label,
fieldset[dir=rtl] p:not(#foo) > input[type=radio]:focus:disabled:checked + label,
fieldset[dir=rtl] p:not(#foo) > input[type=radio]:disabled:checked + label:hover,
fieldset[dir=rtl] p:not(#foo) > input[type=radio]:disabled:checked + label:hover:active {
	background-position: 100% -300px;
}